apiVersion: apps/v1
kind: Deployment
metadata:
  name: linux-mcp-chatbot
spec:
  template:
    metadata:
      labels:
        opendatahub.io/dashboard: "true"
    spec:
      containers:
      - name: chatbot
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 2000m
            memory: 2Gi
