apiVersion: apps/v1
kind: Deployment
metadata:
  name: linux-mcp-chatbot
spec:
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
      labels:
        maistra.io/expose-route: "true"
    spec:
      containers:
      - name: chatbot
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: 4000m
            memory: 4Gi
